<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
	<directories>
		<directory name="server"/>
		<directory name="sqlite"/>
		<directory name="storage"></directory>
	</directories>
	<values>
		<value name="a">a</value>
		<value name="b">b</value>
		<value name="c">c</value>
		<valuez>
			<value name="d">d</value>
			<value name="e">e</value>
			<value name="f">f</value>
			<valuezz>
				<value name="g">g</value>
				<value name="h">h</value>
				<value name="i">i</value>
			</valuezz>
		</valuez>
	</values>
</settings>
